<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="display: flex">

    <div id="welcome">Welcome <%=locals.username%></div>



    <div id="a"></div>
    <div id="b"></div>
    <button onclick=""></button>

<script>


    function getCookie(name) {
        const value = `; ${document.cookie}`;



        const parts = value.split(`; ${name}=`);

        console.log(value);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    getCookie("customer_id");

    const ws = new WebSocket('ws://localhost:8082');

    let connId;

    ws.onopen = () => {
        console.log('Connected to the WebSocket server');
    };

    ws.onmessage = (event) => {
        const data = JSON.parse(event.data);
        if (data.type === 'init') {
            connId = data.connId;
            return;
        }


        let div_a =  document.getElementById("a");
        let div_b =  document.getElementById("b");


        console.log(data);

        div_a.innerHTML = "";
        data.terminal.drink_data.forEach(x=>
        {

            div_a.append(document.createTextNode(x.username+":"))
            x.data.forEach(y=>
            {
                div_a.innerHTML += "<br>";
                div_a.append(document.createTextNode(y.drink_name+" "+y.amount));

            })
            div_a.innerHTML+= "<br><br>";
        })
        div_a.innerHTML+= "<br>--------------------<br>";

        data.terminal.joined.forEach(x=>
        {
            div_a.append(document.createTextNode(x));
            div_a.innerHTML += "<br>";
        })


        div_b.innerHTML = "";
        data.tasks.forEach(x=>
        {
            div_b.append(document.createTextNode(x.task_text+" > "+x.username));
            div_b.innerHTML += "<br>";
        })

    };


    function send()
    {
        ws.send(JSON.stringify({connId: connId, request: requestTxt.value }));
    }





</script>
</body>
</html>